@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"),
    url(./assets/Comfortaa/Comfortaa-VariableFont_wght.ttf) format("opentype");
}

body {
  background-color: #eae9ea;
  color: #45363e;
  font-family: Comfortaa;
}

hr.solid {
  border-top: 2px solid #7dc95e;
  margin: 50px 0px;
}

div.project {
  border-radius: 30px;
  margin-bottom: 20px;
}

.photo {
  height: 200px;
  border-radius: 50%;
  margin-right: 50px;
}

.name {
  font-size: 80px;
  margin-bottom: 0px;
}

.profileBox {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 5%;
}

.categoryTitle {
  font-size: 40px;
}
.myFooter {
  position: relative;
  bottom: 0px;
  width: 60%;
  background: #353131;
  display: flex;
  justify-content: space-around;
  padding: 0 20%;
  flex-direction: row;
  color: #f8f8f3;
}

.socialIcon {
  list-style: none;
  color: inherit;
  margin: 5px;
}
.iconsRow {
  padding-inline-start: 0;
}

.aboutMeRow {
  padding-inline-start: 5px;
  margin-top: 10px;
}

.aboutMeItems {
  list-style: "- ";
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 5px;
}

.aboutMeLinks {
  color: inherit;
}

.footerTitle {
  font-weight: bold;
  margin-bottom: 10px;
}
